// Variables

$body-font: "Signika", sans-serif;
$title-font: "Amaranth", sans-serif;

$color-default: rgb(18, 68, 72);
$color-primary: rgb(37, 152, 108);
$color-secondary: rgb(71, 117, 121);
$color-secondary-lighter: rgb(159, 208, 212);
$color-success: rgb(38, 150, 35);
$color-warning: rgb(233, 161,0);
$color-danger: rgb(219, 23, 22);
$color-hover: lighten($color-primary, 10%);


// Mixins

@mixin plain-ul {
  // ul without bullet points, padding nor margins
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($x, $y, $blur: 5px, $spread: 0px, $color: #222) {
  -moz-box-shadow: $x $y $blur $spread $color;
  -webkit-box-shadow: $x $y $blur $spread $color;
  -o-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}

@mixin center-content {
  text-align: center;
  display: inline-block;
}

@mixin pad($padding: 8px 16px) {
  padding: $padding;
}

@mixin placeholder {
  &.placeholder { @content };
  &:-moz-placeholder { @content };
  &::-webkit-input-placeholder { @content };
}

@mixin inline-elements($justify: space-between) {
  display:flex;
  justify-content: $justify;
  align-items: center;
}

@mixin trailing-space($size) {
  // adds space after an element
  &:after {
    content: " ";
    display: inline-block;
    width: $size;
  }
}


// General styling

body {
  background: $color-default;
  font-family: $body-font;
  font-size: 16px;
  font-weight: normal;
  padding-left: 87px;
  padding-right: 87px;
  color: white;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid transparentize(white, .85);
  border-bottom: 1px solid transparentize(white, .7);
}

// Layout

.inline {
  @include inline-elements;
}

ul.inline {
  @include plain-ul;
  @include inline-elements;
  h1 {
    display: inline-block;
    @include trailing-space(32px);
  }
}

// Components

h1, h2, h3 {
  font-family: $title-font;
  font-style: italic;
}
h4, h5, h6 {
  font-family: $title-font;
  font-style: normal;
}


@mixin link($bg) {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid $bg;
  transition: background 0.1s cubic-bezier(.33,.66,.66,1);
  padding: 0 4px;
  &:hover {
    background: $bg;
  }
}

a {
  @include link($color-primary);
}

a.success {
  @include link($color-success);
}
a.warning {
  @include link($color-warning);
}
a.danger {
  @include link($color-danger);
}


// Buttons

@mixin button($bg) {
  border: 1px solid darken($bg, 10%);
  @include border-radius(5px);
  background-color: $bg;
  color: white;
  @include pad();
  font-size: inherit;
  font-family: inherit;
  transition: background-color 0.1s cubic-bezier(.33,.66,.66,1);
  &:hover {
    background-color: saturate(lighten($bg, 5%), 20%);
  }
}

.btn {
  @include button($color-secondary)
}
.btn-success {
  @include button($color-success);
}
.btn-warning {
  @include button($color-warning);
}
.btn-danger {
  @include button($color-danger);
}

@mixin alert($bg) {
  border: 1px solid darken($bg, 10%);
  @include border-radius(5px);
  background-color: $bg;
  color: white;
  @include pad();
  font-size: inherit;
  font-family: inherit;
}

.alert {
  @include alert($color-secondary);
}
.alert-success {
  @include alert($color-success);
}
.alert-warning {
  @include alert($color-warning);
}
.alert-danger {
  @include alert($color-danger);
}

// Page nav

h1.brand {
  font-size: 55px;
}

// Form inputs

input {
  @include border-radius(5px);
  @include pad();
  border: none;
  color: white;
  font-size: inherit;
  font-family: inherit;
  background-color: $color-secondary;
  @include placeholder {
    font-style: italic;
    color: $color-secondary-lighter;
  }
}


ul.restaurant-cards {
  @include plain-ul;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;

  .restaurant-card {
    display: block;

    .restaurant-card-picture {
      border: 2px solid white;
      @include border-radius(2px);
      @include box-shadow(0px, -1px, 5px);
      border: none;
      display: block;
      width: 100%;
      height: auto;
    }

    .restaurant-card-title {
      padding: 10px;
      text-align: center;
      a {
        vertical-align: middle;
      }
    }
  }
}


.menu {
  background-color: $color-primary;
  padding: 20px;
  max-width: 500px;
  border: 2px solid $color-secondary;
  @include border-radius(10px);

  ul.menu-items {
    @include plain-ul;
    margin-top: 2em;
  }

  .menu-title {
    font-size: 40px;
    text-align: center;
    padding: 0;
    margin-top: 0;
  }

  .menu-item {
    margin-bottom: 1.5em;
    display: grid;
    grid-template-columns: auto 60px;
    grid-template-rows: repeat(3, auto);
    .left {
      grid-column: 1;
    }
    .right {
      grid-column: 2;
      margin-left: 10px;
      text-align: right;
    }
    .item-name {
      margin: 0;
      padding: 0;
    }
    .item-price {
      margin: 0;
      padding: 0;
    }
    .item-description {
      margin: 0;
      margin-top: 3px;
      margin-bottom: 3px;
      padding: 0;
      color: $color-secondary-lighter;
    }
    .edit-delete {
      @include inline-elements(flex-start);
    }
  }
}
