<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Full-Stack Foundations{% endblock %}</title>

    <!-- Custom styles -->
    {% block style %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <!-- Amaranth: italic, bold-italic -->
      <link href="https://fonts.googleapis.com/css?family=Amaranth:400,400i,700i" rel="stylesheet">
      <!-- Signika: regular, bold -->
      <link href="https://fonts.googleapis.com/css?family=Signika:400,700" rel="stylesheet">
    {% endblock %}

  </head>

  <body>

    <!-- Flash messages -->
    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert-success" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

    {% block nav %}
    <nav class="header">
      <ul class="inline">
        <li class="inline">
          <h1 class="brand"><a href="{{ url_for('index') }}">Restaurants</a></h1>
          {% block after_brand %}
          {% endblock %}
        </li>
        <li>
          <form action="http://www.google.com/search" method="get">
            <input class="search" type="text" placeholder="Type your search…" name="q" />
            <input type="submit" class="btn btn-secondary" value="Search"/>
          </form>
        </li>
      </ul>
    </nav>

    {% endblock %}

    <!-- Main page content -->
    {% block content %}{% endblock %}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Custom scripts -->
    {% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
  </body>
</html>
