{% extends "base.html" %}


{% block after_brand %}
  <a class="btn-success" href="{{ url_for('add_restaurant') }}" type="button">Add</a>
{% endblock %}

{% block content %}
{% if restaurants %}
<ul class="restaurant-cards">
  {% for restaurant in restaurants %}
  <li class="restaurant-card">
    <img class="restaurant-card-picture" src="{{ url_for('static', filename='img/auntie-ann-s-diner.jpg') }}" alt="Picture"/>
    <div class="restaurant-card-title">
      <a href="{{ url_for('restaurant_detail', restaurant_id=restaurant.id) }}">{{ restaurant.name }}</a>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No restaurants so far! Use this <a class="btn-success" href="{{ url_for('add_restaurant') }}" type="button">Add</a> button to add some.</p>
{% endif %}

{% endblock %}
